@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,300;1,200&family=Maitree:wght@300&family=Playfair+Display:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200&display=swap');

/* ---------------CSS GENERAL--------------- */
*{
    max-width: 100%!important;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}



/* ---------------CSS MENU--------------- */

h1, h2{
    font-family: 'Playfair Display', serif;
}

h3{
    font-family: 'Exo', sans-serif;
    font-style: italic;
}

h4, h5{
    font-family: 'Maitree', serif;
}

.nav{
    background-color: transparent;
    position: absolute;
    width: 100%;
    /* display: flex; */
}

.nav #j{
    color: white;
    text-align: center;
    position: relative;
    /* left: 18%; */
    margin-top: 10px;
    text-transform: uppercase;
    letter-spacing: 1rem;
    margin-left: 8%;
}

.nav #c{
    color: black;
    text-align: center;
    position: relative;
    /* right: 6.5%; */
    margin-top: 10px;
    text-transform: uppercase;
    letter-spacing: 1rem;
    margin-left: 8%;
}

.nav div{
    display: flex;
}

.homeContainer{
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
}

.homeContainer div{
    width: 50%;
    height: 70vh;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}

.digital{
    background-color: black;
    color: white;
}

.digital h2, .digital h3, .digital h4{
    margin-left: 30px;
}

.dUnderline {
    background-image: linear-gradient(120deg, #4a97b6 0%, #4acc80 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.2em;
    background-position: 0 88%;
    transition: background-size 0.25s ease-in;
  }
.dUnderline:hover {
    background-size: 100% 88%;
}

.digital a {
    color: white;
}

.digital a:hover{
    color: white;
    font-weight: 300;
    text-decoration: none;
}

.digital h4, .analogic h4{
    margin-bottom: 30px;
}

.analogic h2, .analogic h3, .analogic h4{
    margin-left: 30px;
}

.analogic a{
    color: black;
    text-decoration: none;
}

.analogic a:hover{
    color: black;
    text-decoration: none;
}

.aUnderline {
    background-image: linear-gradient(120deg, #fab384 0%, #ec8ff4 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.2em;
    background-position: 0 88%;
    transition: background-size 0.25s ease-in;
}

.aUnderline:hover {
    background-size: 100% 88%;
}

.about{
    background-color: whitesmoke;
}

.about h2{
    background-color:whitesmoke;
    text-align: center;
    font-size: 2rem!important;
    margin: 0px 20px 0px 20px;
    padding-top: 20px;
}

.about img{
    margin: 25px;
    margin-left: 80px;
    height: 200px;
    /* filter: grayscale(70%); */
    border-radius: 50%;
    margin-bottom: 80px;
}

.aboutContainer{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.textContainer{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 35px;
}

.quote{
    font-style: italic;
    margin-right: 0px;
}

.both{
    font-weight: 700;
    margin-right: 0px;
}

/* ---------------BTN MENU--------------- */

.btnMenu {
    position: absolute;
    z-index: 1000;
    top: 2%;
    right: 1.5%;
    height: 45px;
    width: 55px;
    text-align: center;
    border: none;
    transition: right 0.7s ease;
    outline: none;
    box-shadow: none;
    background-color: white;
}

.btnMenu:focus{
    box-shadow: none!important;
    outline: none!important;
}

svg{
    padding: 0 auto;
    outline: none;
    box-shadow: none;
}

svg:focus{
    box-shadow: none;
}

.line {
    fill: none;
    stroke: black;
    stroke-width: 6;
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
.line1 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
}
.line2 {
    stroke-dasharray: 60 60;
    stroke-width: 6;
}
.line3 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
}
.opened .line1 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
}
.opened .line2 {
    stroke-dasharray: 1 60;
    stroke-dashoffset: -30;
    stroke-width: 6;
}
.opened .line3 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
}

.click{
    right: 15.5%;
    border: none;
    box-shadow: none;
    box-decoration-break: none;
}

.sidebar {
    position: absolute;
    z-index: 1000;
    top: -1%;
    width: 15%;
    background: #000000!important;
    font-size: 0.65em;
    right: 0%;
    padding: 10px 0px 20px 0px;
    border: 1px solid rgb(197, 197, 197);
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    height: 0;
    opacity: 0;
    transition: height 0ms 400ms, opacity 400ms 0ms;
  }


.show{
    height: 101vh; 
    opacity: 1;
    transition: height 0ms 0ms, opacity 600ms 0ms;
}

 .link {
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    position: relative;
    height: 40px;
    line-height: 40px;
    margin-top: 20px;
    overflow: hidden;
    width: 90%;
    margin-left: 5%;
    cursor: pointer;
    color: white;
 }

 .link a{
    outline: none;
    color: white;
}

.link a:hover{
    text-decoration: none;
    color: white;
}

 .link:after {
    content: "";
    position: absolute;
    width: 80%;
    border-bottom: 1px solid rgb(255, 255, 255);
    bottom: 50%;
    left: -100%;
    transition-delay: all 0.5s;
    transition: all 0.5s;
    color: white;
 }

 .link:hover:after,
 .link.hover:after {
    left: 100%;
    color: white;
 }

 .link .text {
    text-shadow: 0px -40px 0px rgba(255, 255, 255, 1);
    transition: all 0.75s;
    transform: translateY(100%) translateZ(0);
    transition-delay: all 0.25s;
    color: white;
 }

 .link:hover .text,
 .link.hover .text {
    text-shadow: 0px -40px 0px rgb(255, 255, 255);
    transform: translateY(0%) translateZ(0) scale(1.1);
    font-weight: 600;
    color: white;
 }
 
 /* ---------------DIGITAL--------------- */

 @keyframes slide {
    0%   { transform: translate(0px,0px); }
    100% { transform: translate(0px,10px); }
}

 #bd{
     background-color: black;
 }

 #d{
     background-color: black;
     color: white;
     text-align: center;
     font-size: 3rem!important;
     margin-bottom: 0px!important;
     padding: 40px;
     letter-spacing: 0.5rem;
 }

 .digitalContainer{
    background-color: black;
    color: white;
    height: max-content;
    margin-top: 0px;
 }

 .educationContainer{
    width: 75%;
    border-top: 5px solid;
     border-image-slice: 1;
     border-width: 5px;
     border-image-source: linear-gradient(120deg, #4a97b6 0%, #4acc80 100%);
 }

 .educationContainer h2{
     text-align: center;
     margin-top: 20px;
     margin-bottom: 20px;
     width: 100%;
     text-transform: uppercase;
     letter-spacing: 0.5rem;
     font-size: 1.5rem!important;
 }

.list ul{
    list-style: none;
}

 .educationContainer ul li{
     margin: 10px;
     margin-bottom: 40px;
     margin-left: 60px;
     transition: all 0.75s ease-in-out;
 }

 .educationContainer ul li:hover{
     margin-left: 40px;
 }

.list ul li::after{
    display: inline-block;
    content: "";
    border-top: .15rem solid rgba(121, 121, 121, 0.548);
    width: 30rem;
    margin: 0 1rem;
}

.educationContainer ul li h3{
    font-size: 20px!important;
}

.educationContainer ul li h4{
    font-size: 18px!important;
}

 .skillContainer{
     width: 75%;
     border-top: 10px solid;
     border-image-slice: 1;
     border-width: 5px;
     border-image-source: linear-gradient(120deg, #4a97b6 0%, #4acc80 100%);
     margin-top: 50px;
     margin-bottom: 50px;
 }

 .skillContainer h2{
     text-align: center;
     margin-bottom: 20px;
     margin-top: 20px;
     text-transform: uppercase;
     letter-spacing: 0.5rem;
     font-size: 1.5rem!important;
 }

 .skillContainer .bubbles div{
     height: 120px;
     width: 120px;
     background-color: white;
     color: black;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 35px;
    border-radius: 50%;
    box-shadow: 5px 5px rgba(175, 177, 177, 0.932);
    margin-bottom: 35px;
    
 }

 .bubbles{
     display: flex;
     flex-wrap: wrap;
     justify-content: space-evenly;
     height: max-content;
     animation-name: slide;
     animation-duration: 3s; 
     animation-fill-mode: both;  
 }

 .bubbles h4{
     font-size: 20px!important;
 }

 .experienceContainer{
     background-color: black;
     width: 75%!important;
    color: white;
    border-top: 10px solid;
    border-image-slice: 1;
    border-width: 5px;
    border-image-source: linear-gradient(120deg, #4a97b6 0%, #4acc80 100%);
    margin-bottom: 50px;
    margin-top: 50px;
 }

 .experienceContainer h2{
     text-align: center;
     padding: 20px;
     text-transform: uppercase;
     letter-spacing: 0.5rem;
     font-size: 1.5rem!important;
 }

 .job h3{
     margin-bottom: 20px;
     margin-top: 20px;
 }

 .job img{
     width: 500px;
     border: 2px solid white;
     border-radius: 5px;
 }

 .job p{
    font-family: 'Exo', sans-serif;
    padding: 20px 0px 20px 0px;
    height: 85px;
 }

 .job a{
     text-decoration: none;
     outline: none;
     color: whitesmoke;
     text-align: right;
     padding: 5px 0px 5px 0px;
     font-family: 'Maitree', sans-serif;
     font-weight: bold;
     letter-spacing: 0.1rem;
     margin-bottom: 20px;
 }

 .job a:hover{
    font-weight: bolder;
    text-decoration: none;
    color: white;
 }

  .digMenu{
    background-color: black!important;
  }

  .digSidebar{
      background-color: white!important;
  }

  .digLine{
    stroke: white!important;
  }

  .digLink{
      color: black!important;
  }

  .digLink:after {
    content: "";
    position: absolute;
    width: 80%;
    border-bottom: 1px solid black!important;
    bottom: 50%;
    left: -100%;
    transition-delay: all 0.5s;
    transition: all 0.5s;
    color: black!important;
 }

 .digLink a{
    color: black!important;
}

.digLink a:hover{
    color: black!important;
}

 .digLink .digText {
    text-shadow: 0px -40px 0px rgb(0, 0, 0)!important;
    transition: all 0.75s;
    transform: translateY(100%) translateZ(0);
    transition-delay: all 0.25s;
    color: black!important;
 }

 .digLink:hover .digText,
 .link.hover .text {
    text-shadow: 0px -40px 0px black!important;
    transform: translateY(0%) translateZ(0) scale(1.1);
    font-weight: 600;
    color: black!important;
 }

 .linkUnderline {
    background-image: linear-gradient(120deg, #4a97b6 0%, #4acc80 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.2em;
    background-position: 0 88%;
    transition: background-size 0.25s ease-in;
  }
.linkUnderline:hover {
    background-size: 100% 88%;
}


 /* ---------------ANALOGIC--------------- */

#a{
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    font-size: 3rem!important;
    padding: 20px;    
}

.analogicContainer{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-evenly;
}

.aEducation, .aWorks{
    width: 75%;
    border-top: 5px solid;
    border-image-slice: 1;
    border-width: 5px;
    border-image-source: linear-gradient(120deg, #fab384 0%, #ec8ff4 100%);
}

.aEducation h2, .aWorks h2{
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    font-size: 1.5rem!important;
    text-align: center;
    margin: 20px;
    margin-bottom: 40px;
}

.aEducationContainer ul li{
    list-style: none;
    margin: 10px;
    margin-left: 60px;
    transition: all 0.75s ease-in-out;
}

.aEducationContainer ul li::after{
    display: inline-block;
    content: "";
    border-top: .15rem solid rgba(5, 5, 5, 0.548);
    width: 30rem;
    margin: 0 1rem;
}

.aEducationContainer ul li:hover{
    margin-left: 40px;
}

.aEducationContainer ul li h3{
    font-size: 20px!important;
}

.aEducationContainer ul li h4{
    font-size: 18px!important;
}

.aWorks{
    width: 75%;
}

.aWorks .work h3{
    text-transform: capitalize;
}

.workContainer{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin: 0px!important;
}

.work{
    width: 50%;
    height: 450px;
    margin-bottom: 20px;
    transition: all 0.5s ease-in-out;
    border-radius: 5px;
    background-color: rgba(209, 209, 209, 0.205);
}

.work:hover{
    box-shadow: 0 0 5px 2px rgb(141, 141, 141);
}

.work img{
    width: 205px;
    height: 275px;
    margin-bottom: 10px;
    margin-top: 10px;
    display: flex;
    justify-self: center;
}

.work h3{
    font-size: 18px!important;
    text-align: center;
    height: 45px;
}

.work h6{
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

.work p{
    color: black;
    font-weight: bold;
    transition: all 0.5s ease-in-out;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

.work p:hover{
    color: black;
    font-weight: bolder;
    font-size: 18px!important;
    text-decoration: none;
}

embed{
    width: 75%;
    height: 1125px;
}

.no-disp{
    display: none;
}

.workContainer button {
    margin: 45px;
    padding: 10px;
    background-color: black;
    color: white;
    letter-spacing: 0.25rem;
    border-radius: 5px;
    font-family: 'Raleway', sans-serif;

}


 /* ---------------CONTACT--------------- */

 .contactContainer{
     margin: 0px!important;
 }

 .contactContainer h1{
    text-transform: uppercase;
    letter-spacing: 3rem;
    font-size: 150px;
    text-align: center;
    margin-top: 75px;
    margin-bottom: 75px;
 }

 .contactContainer form{
     display: flex;
     flex-wrap: nowrap;
     flex-direction: column;
     align-items: center;
     background-color: whitesmoke;
     border-radius: 5px;
     margin-bottom: 50px;
 }

 .contactContainer form label{
     width: 50%;
     text-transform: uppercase;
     letter-spacing: 1rem;
     font-family: 'Raleway', sans-serif;
    font-weight: bolder;
    margin-top: 20px;
    margin-bottom: 30px;
 }

 .contactContainer form input{
     width: 50%;
     transition: all 0.5s ease-in-out;
 }

 .contactContainer form textarea{
     margin-bottom: 50px;
     transition: all 0.5s ease-in-out;
     width: 50%;
 }

 .contactContainer form input:focus, textarea:focus{
     outline: none;
     box-shadow: 0 0 5px 10px rgba(141, 141, 141, 0.541);
    border-radius: 5px;
 }

 /* ---------------FOOTER--------------- */


.footerContainer{
    clear: both;
    position: relative;
    height: 140px;
    display: flex;
    justify-content: center;
    border-top: 1px solid rgb(158, 158, 158);
}

.footerContainer footer i{
    color: grey;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 30px;
}

 /* ---------------MEDIA QUERIES--------------- */

 @media(max-width:870px){
    #j, #c{
        font-size: 30px;
    }

    .analogic h2, .diigtal h2{
        font-size: 30px;
    }

    .analogic h3, .analogic h4 a, .digital h3, .digital h4 a{
        font-size: 20px;
    }

    .list ul li::after {
        display: inline-block;
        content: "";
        border-top: .15rem solid rgba(121, 121, 121, 0.548);
        width: 25rem;
        margin: 0 1rem;
    }

    .skillContainer .bubbles div {
        margin:20px;
    }

    .job h3{
        font-size: 22px!important;
    }

    .sidebar{
        width: 25%;
    }

    .click{
        right: 25%;
    }

    .aEducationContainer ul li::after {
        display: inline-block;
        content: "";
        border-top: .15rem solid rgba(5, 5, 5, 0.548);
        width: 25rem;
        margin: 0 1rem;
    }

    .contactContainer h1{
        font-size: 120px;
    }

    .contactContainer form label{
        width: 75%;
    }

    .contactContainer form input{
        width: 75%;
    }

    .contactContainer form textarea{
        width: 75%;
    }
 }

 @media(max-width:700px){
     #j, #c{
         letter-spacing: 0.5rem!important;
         font-size:25px;

     }

     .textContainer h4{
         font-size: 20px;
     }

     .textContainer h5{
         font-size: 18px;
     }

     .about img{
         margin-left: 50px;
     }

     .list ul li::after {
        display: inline-block;
        content: "";
        border-top: .15rem solid rgba(121, 121, 121, 0.548);
        width: 20rem;
        margin: 0 1rem;
    }

    .bubbles h4{
        font-size: 17px!important;
    }

    .skillContainer .bubbles div {
        height: 100px;
        width: 100px;
    }

    .aEducationContainer ul li::after {
        display: inline-block;
        content: "";
        border-top: .15rem solid rgba(5, 5, 5, 0.548);
        width: 20rem;
        margin: 0 1rem;
    }

    .contactContainer h1{
        font-size: 80px;
        letter-spacing: 2rem;
    }
   
 }

 @media(max-width:650px){
    .aEducationContainer ul li::after {
        display: inline-block;
        content: "";
        border-top: .15rem solid rgba(5, 5, 5, 0.548);
        width: 15rem;
        margin: 0 1rem;
    }


    .aEducationContainer ul li{
        margin-left: 30px;
    }

    #a{
        margin-top: 25px;
    }

 }

 @media(max-width:525px){
    #j, #c{
        letter-spacing: 0.25rem;
        font-size: 22px;
    }

    .btnMenu{
        top:1%;
    }

    .nav div{
        margin-top: 40px;
    }

    .about img{
        height: 150px
    }

    .list ul li::after {
        display: inline-block;
        content: "";
        border-top: .15rem solid rgba(121, 121, 121, 0.548);
        width: 15rem;
        margin: 0 1rem;
    }

    .educationContainer ul li h3 {
        font-size: 18px!important;
    }

    .educationContainer ul li h4 {
        font-size: 16px!important;
    }

    .educationContainer ul li {
        margin-left: 30px;
    }

    .aEducationContainer ul li::after {
        display: inline-block;
        content: "";
        border-top: .15rem solid rgba(5, 5, 5, 0.548);
        width: 15rem;
        margin: 0 1rem;
    }


 }

 @media(max-width:475px){
    #j, #c{
        font-size: 18px;
    }     

    .aboutContainer{
        flex-direction: column;
    }

    .textContainer{
        padding: 20px;
        margin: 0px;
    }

    .about img{
        margin: 0px;
        margin-top: 20px;
    }

    .footerContainer footer i{
        margin-left: 20px;
        margin-right: 20px;
    }

    .list ul li::after {
        display: inline-block;
        content: "";
        border-top: .15rem solid rgba(121, 121, 121, 0.548);
        width: 10rem;
        margin: 0 1rem;
    }


    .sidebar{
        width: 50%;
    }

    .click{
        right: 35%;
        z-index: 1001;
        top: 0%;
    }

    .aEducationContainer ul li::after {
        display: inline-block;
        content: "";
        border-top: .15rem solid rgba(5, 5, 5, 0.548);
        width: 10rem;
        margin: 0 1rem;
    }

    #a{
        font-size: 25px!important;
    }

    .contactContainer h1{
        font-size: 45px;
    }

 }

 @media(max-width:400px){

    .skillContainer .bubbles div{
        height: 90px;
        width: 90px;
        margin: 10px;
    }



 }
