<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>
<body>
    <button class="btnMenu" onclick="this.classList.toggle('opened');this.setAttribute('aria-expanded', this.classList.contains('opened'))" aria-label="Main Menu">
        <svg width="45" height="45" viewBox="0 0 100 100">
            <path class="line line1" d="M 20,29.000046 H 80.000231 C 80.000231,29.000046 94.498839,28.817352 94.532987,66.711331 94.543142,77.980673 90.966081,81.670246 85.259173,81.668997 79.552261,81.667751 75.000211,74.999942 75.000211,74.999942 L 25.000021,25.000058" />
            <path class="line line2" d="M 20,50 H 80" />
            <path class="line line3" d="M 20,70.999954 H 80.000231 C 80.000231,70.999954 94.498839,71.182648 94.532987,33.288669 94.543142,22.019327 90.966081,18.329754 85.259173,18.331003 79.552261,18.332249 75.000211,25.000058 75.000211,25.000058 L 25.000021,74.999942" />
        </svg>
    </button>
    <div class="sidebar">
        <div class="link">
            <div class="text"><a href="https://juliacordero.com/" class="homenav" >Home</a></div>
          </div>
          <div class="link">
            <div class="text"><a href="https://juliacordero.com/digital" class="digitalnav" >Digital</a></div>
          </div>
          <div class="link">
            <div class="text"><a href="https://juliacordero.com/analogic" class="analogicnav">Analogic</a></div>
          </div>
          <div class="link">
            <div class="text"><a href="https://juliacordero.com/contact" class="contactnav">Contact</a></div>
          </div>
    </div>
    <h1 id="a">analogic</h1>
    <div class="analogicContainer">
        <div class="aEducation">
            <h2>Education</h2>
            <div class="aEducationContainer">
                <ul>
                    <li>
                        <h3>Universidad Torcuato DiTella Social Sciences Degree</h3>
                        <h4>2020</h4>
                        <h4>State: Ongoing</h4>
                    </li>
                    <li>
                        <h3>Deleuze: The Anti-Oedipus Seminar</h3>
                        <h4>2020</h4>
                        <h4>State: Finished</h4>
                    </li>
                    <li>
                        <h3>International Baccalaurate</h3>
                        <h4>2018-2019</h4>
                        <h4>State: Finished</h4>
                    </li>
                    <li>
                        <h3>Saint Andews Scotts School</h3>
                        <h4>2014-2019</h4>
                        <h4>State: Finished</h4>
                    </li>
                </ul>
            </div>
        </div>
        <div class="aWorks">
            <h2>Academic Works</h2>
            <div class="workContainer row">
                <div class="work col-11 col-md-5">
                    <img src="/images/monoib.png" alt="">
                    <h3>La Imagen Como Documento Histórico</h3>
                    <h6>Trabajo monográfico sobre la manera en la cual la imagen contribuye a la construccion del conocimiento historico</h6>
                    <p class="v-monoib"><a href="/resources/monoib.pdf" target="_blank"> Take a Look</a></p>
                </div>
                <div class="work col-11 col-md-5">
                    <img src="/images/monopunk.png" alt="">
                    <h3>el punk murio y reencarnó en deseo</h3>
                    <h6>Trabajo monografico sobre la coexistencia de la filosofia punk y el capitalismo</h6>
                    <p class=""><a href="/resources/monopunk.pdf" target="_blank"> Take a Look</a></p>
                </div>
                <div class="work col-11 col-md-5">
                    <img src="/images/ensayotok.png" alt="">
                    <h3>La observación como forma de conocimiento</h3>
                    <h6>Analisis sobre la contribucion de la observacion para ayudar a contruir conocimiento.</h6>
                    <p class="v-monoib"><a href="/resources/tok.pdf" target="_blank"> Take a Look</a></p>
                </div>
                <div class="work col-11 col-md-5">
                    <img src="/images/ia.png" alt="">
                    <h3>Fritz lang y el marxismo</h3>
                    <h6>Analisis sobre la pelicula Metropolis (1917) ¿Es realmente la ilustracion de la filosofia marxista?</h6>
                    <p class="v-monoib"><a href="/resources/internal.pdf" target="_blank"> Take a Look</a></p>
                </div>
            </div>
            
        </div>
     

    </div>
    <%- include('./partials/footer.ejs') %> 
    <script src="/js/home.js"></script>

</body>
</html>