<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>
<body id="bd">
    <button class="btnMenu digMenu" onclick="this.classList.toggle('opened');this.setAttribute('aria-expanded', this.classList.contains('opened'))" aria-label="Main Menu">
        <svg width="45" height="45" viewBox="0 0 100 100">
            <path class="line line1 digLine" d="M 20,29.000046 H 80.000231 C 80.000231,29.000046 94.498839,28.817352 94.532987,66.711331 94.543142,77.980673 90.966081,81.670246 85.259173,81.668997 79.552261,81.667751 75.000211,74.999942 75.000211,74.999942 L 25.000021,25.000058" />
            <path class="line line2 digLine" d="M 20,50 H 80" />
            <path class="line line3 digLine" d="M 20,70.999954 H 80.000231 C 80.000231,70.999954 94.498839,71.182648 94.532987,33.288669 94.543142,22.019327 90.966081,18.329754 85.259173,18.331003 79.552261,18.332249 75.000211,25.000058 75.000211,25.000058 L 25.000021,74.999942" />
        </svg>
    </button>
    
    <div class="sidebar digSidebar">
        <div class="link digLink">
          <div class="text digText"><a href="https://juliacordero.com/" class="homenav">Home</a></div>
        </div>
        <div class="link digLink">
          <div class="text digText"><a href="https://juliacordero.com/digital" class="digitalnav">Digital</a></div>
        </div>
        <div class="link digLink">
            <div class="text digText"><a href="https://juliacordero.com/analogic" class="analogicnav">Analogic</a></div>
        </div>
        <div class="link digLink">
            <div class="text digText"><a href="https://juliacordero.com/contact" class="contactnav">Contact</a></div>
        </div>
    </div>
    <h1 id="d">DIGITAL</h1>

    <div class="digitalContainer">
        <div class="educationContainer">
            <h2>Education</h2>
            <div class="list">
                <ul>
                    <li>
                        <h3>Digital House Full Stack Developer</h3>
                        <h4>2020</h4>
                        <h4>State: Finished</h4>
                    </li>
                    <li>
                        <h3>Mercado Pago Developer</h3>
                        <h4>2020</h4>
                        <h4>State: Finished</h4>
                    </li>
                    <li>
                        <h3>Udemy Python Course</h3>
                        <h4>2020-2021</h4>
                        <h4>State: Ongoing</h4>
                    </li>
                </ul>
            </div>
        </div>
        <div class="skillContainer">
            <h2>Skillset</h2>
            <div class="bubbles">
                <div class="">
                    <h4>JavaScript</h4>
                </div>
                <div class="">
                    <h4>HTML</h4>
                </div>
                <div class="">
                    <h4>CSS</h4>
                </div>
                <div class="">
                    <h4>MySql</h4>
                </div>
                <div class="">
                    <h4>React</h4>
                </div>
                <div class="">
                    <h4>Github</h4>
                </div>
                <div class="">
                    <h4>Heroku</h4>
                </div>
                <div class="">
                    <h4>Plesk</h4>
                </div>
                <div class="">
                    <h4>NodeJS</h4>
                </div>
                <div class="">
                    <h4>Express</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="experienceContainer">
        <h2>Experience</h2>
        <div class="jobsContainer row d-flex justify-content-center">
            <div class="job working col-12">
                <h3>Teacher Assistant at <strong>Digital House</strong></h3>
                <h4>2021 - Present</h4>
            </div>
            <div class="job col-11 col-md-5">
                <h3>Sustentar</h3>
                <img src="/images/sustentar.png" alt="">
                <p>Final proyect for the Full Stack Developer title at Digital House.</p>
                <a href="https://github.com/AndresArcioni/Sustentar" class="linkUnderline">Github Repository</a>
            </div>
            <div class="job col-11 col-md-5">
                <h3>Elijo</h3>
                <img src="/images/elijo.jpg" alt="">
                <p>Freelance webpage to aid the conection between students.</p>
                <a href="https://elijo.org/" class="linkUnderline">Go to page</a>
            </div>
            <div class="job col-11 col-md-5">
                <h3>Astrologia Al Sur</h3>
                <img src="/images/astro.png" alt="">
                <p>Freelance webpage for astrological articles and services.</p>
                <a href="http://astroalsur.com.ar/" class="linkUnderline">Go to page</a>
            </div>
            <div class="job col-11 col-md-5">
                <h3>Julia Cordero</h3>
                <img src="/images/jc.png" alt="">
                <p>This portfolio webpage :)</p>
                <a href="https://github.com/julia-boop/juliaCordero" class="linkUnderline">Github Repository</a>
            </div>
        </div>
    </div>
    <div class="footerContainer d-footer">
        <footer>
            <a href="https://github.com/julia-boop"><i class="fab fa-github-square fa-5x"></i></a>
            <a href="https://www.linkedin.com/in/julia-cordero-6b4516201/"><i class="fab fa-linkedin fa-5x"></i></a>
            <a href="mailto:crdr.jc@gmail.com"><i class="fas fa-envelope-square fa-5x"></i></a>
        </footer>
    </div>
    <script src="/js/home.js"></script>

</body>
</html>