<div class="footerContainer">
    <footer>
        <a href="https://github.com/julia-boop"><i class="fab fa-github-square fa-5x"></i></a>
        <a href="https://www.linkedin.com/in/julia-cordero-6b4516201/"><i class="fab fa-linkedin fa-5x"></i></a>
        <a href="mailto:crdr.jc@gmail.com"><i class="fas fa-envelope-square fa-5x"></i></a>
    </footer>
</div>